.subtitle {
    text-align: center;
    font-family: Arial;
}

th, td {
    font-family: Arial;
}

.form > button {
    background-color: red;
    color: white;
    font-family: Arial;
}

.form > button:hover {
    background-color: white;
    color: red;
    font-family: Arial;
}

.form {
    text-align: center;
}

footer {
    text-align: center;
    background-color: red;
}

footer > p {
    color: white;
    font-family: Arial;
}

.gold {
    background-color: darkgoldenrod;
    color: white;
}

.silver {
    background-color: darkgrey;
    color: white;
}

.bronze {
    background-color: darkred;
    color: white;
}

td > img {
    width: 100px;
    height: 50px;
}

label, p {
    font-family: Arial;
}

.champion {
    color: darkgoldenrod;
}

.runner-up {
    color: darkgrey;
}

.third {
    color: darkred;
}

.container-fluid {
    background-color: red;
}

.container-fluid > .navbar-header > a {
    color: white;
}

.container-fluid > .navbar-header > button:hover {
    background-color: white;
}

.container-fluid > .navbar-collapse > ul > li > a {
    color: white;
}